body {
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DEDEDE;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    background-color: #D7B20B;
    border-radius: 50%;
    border :1px solid #000000;
    position: fixed;
    top: 20px;
    left: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    z-index: 3;
}

.logo img {
    width: 150px;
    height: 70px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0px;
    left: 200px;
    right: 120px;
    font-size: 20px;
    z-index: 1000;
    background-color:#DEDEDE;
    width: auto;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border: 1px solid #000000;
    opacity: 0.85;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}
.menu a {
    color: #000000;
    background-color: #DEDEDE;
    text-decoration: none;
    padding: 10px 20px; /* Ajustez la taille des boutons selon vos préférences */
    border: 1px solid #000000;
    border-radius: 160px;
    transition: all 0.3s; /* Ajoutez une transition pour une animation fluide */
}
.menu a:hover {
    background-color: #BD0055; /* Change la couleur de fond au survol */
    transform: scale(1.1); /* Agrandit le bouton au survol */
    color: #FFFFFF;
    border: 1px solid #000000; /* Vous pouvez personnaliser la bordure du bouton au survol */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.576);
}
.btn_admin {
    position: fixed;
    padding: 10px 20px;
    top: 0px;
    right: 0px;
    font-size: 12px;
    font-weight: bold;
    z-index: 1000;
}
.btn_admin a{
    color: #000000;
    background-color: #DEDEDE;
    text-decoration: none;
    padding: 10px 20px ; /* Ajustez la taille des boutons selon vos préférences */
    border: 1px solid #000000;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    transition: all 0.3s; /* Ajoutez une transition pour une animation fluide */
}
.btn_admin a:hover {
    background-color: #BD0055; /* Change la couleur de fond au survol */
    transform: scale(1.1); /* Agrandit le bouton au survol */
    color: #FFFFFF;
    border: 1px solid #000000; /* Vous pouvez personnaliser la bordure du bouton au survol */
}
.paragraphe1 {
    display: block;
    justify-content: space-around;
    position:absolute;
    top : 150px;
    left : 300px;
}
.paragraphe2 {
    display: block;
    justify-content: space-around;
    position:absolute;
    font-weight:lighter;
    top : 700px;
    left : 300px;
}
.apropos {
    display: block;
    justify-content: space-around;
    position:absolute;
    font-weight:lighter;
    top : 1000px;
    left : 300px;
}
.statistiques-container {
    position: absolute;
    display: block;
    justify-content: space-evenly;
    top: 1400px;
    left: 0;
    width: 100%;
    background-color: #DEDEDE;
    text-align: center;
    z-index: -1000;
    font-size:70px ;
}
.stat-value {
    transition: all 0.2 ease;
}
.stat-rectangle {
    background-color: #D7B20B;
    color: #FFFFFF;
    text-align: center;
    width: 500px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 50px;
}
.Titre {
    display: block;
    justify-content: space-around;
    position:absolute;
    top : 200px;
    left : 300px;
    font-size: 50px;
    font-family: 'Times New Roman';
    font-style: italic;
}
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #BD0055;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}


.image-in-circle {
    position: absolute;
    bottom: -150px;
    right: 2%;
    width: 700px;
    height: 700px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.image-in-circle img {
    width: 110%;
    height: 110%;
    object-fit: cover;
}
/*.sidebar:hover {
width: 500px;
height: 400px;
transition: 0.6s;
}*/
.sidebar {
    position: fixed;
    top: 400px;
    left: 0px;
    background-color: #02567A;
    width: 60px;
    padding: 10px 0;
    border: 1px solid black;
    border-top-right-radius: 30px; /* Adjust the radius as needed for curved corners */
    border-bottom-right-radius: 30px; /* Adjust the radius as needed for curved corners */
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    z-index: 1000;
    transition: all 0.5s;
    align-items: center;
    justify-items: center;
}

.sidebar img:hover {
    display: flex;
    width: 55px; /* Ajustez la largeur des icônes au survol */
    height: 55px;
    margin-left: 2px;
}
.sidebar img {
    display: flex;
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 3px;
    transition: all 0.3s;
}

.image-in-rectangle {
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 900px;
    height: 700px;
    border: 0px solid black;
    border-top-left-radius: 160px; /* Adjust the radius as needed for curved corners */
    border-bottom-left-radius: 160px;
    overflow: hidden;
    box-shadow: -20px 0 20px rgba(0, 0, 0, 0.45);
}

.image-in-rectangle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}